{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-2"> </div>
        <div class="col-md-8">

                <style>
                        @import url('https://fonts.googleapis.com/css?family=Srisakdi');
                         h2{            display: block;
                                font-family: 'Srisakdi', 'Trebuchet MS';
                                color: #360a70cc;
                                font-size: 40px;
                                font-weight: 1000;
                                text-align: center;
                              }
                              ul {
                                font-family: 'Srisakdi',  Georgia;
                              }
                              body{
                                background-image: url('../static/css/photo/abstract-art-background-289649.jpg')
                              }
                        </style>

{{wtf.quick_form(registration_form)}}

        </div>
        <div class="col-md-2"></div>
    </div>
</div>

{% endblock%}