{% macro displayBlogList(blogs) %}


    {% for blog in blogs %}
        <div class="row">

            <div class="col-md-2 col-lg-2">

            </div>

            <div class=" col-xs-12 col-sm-12 col-md-8 col-lg-8 well blog-well">

                <li class="text-center">
                    <h2>{{blog.title}}</h2>
                    <h3>{{blog.description}}</h3>
                    <a href ="/blog_review/{{blog.id}}?like=1">Like: {{blog.like}}</a>
                    <a href ="/blog_review/{{blog.id}}?dislike=1">Dislike: {{blog.dislike}}</a>  
                    <h3 class="comment-create">
                        <a href="{{url_for('main.new_comment')}}">Add Comment</a>                                                        
                    </h3>
                </li>

            </div>

            <div class="col-md-2 col-lg-2">

            </div>

        </div>

    {% endfor %}
    {% endmacro %}

    {% macro displayCommentList(comments) %}


        {% for comment in comments %}
            <div class="row">

                <div class="col-md-2 col-lg-2"></div>
                
                <div class=" col-xs-12 col-sm-12 col-md-8 col-lg-8 well comment-well">

                    <li>

                        <h4 class="comment-content">
                          {{comment.name}}
                        </h4>

                    </li>

                </div>

                <div class="col-md-2 col-lg-2">

                </div>

            </div>

        {% endfor %}

{% endmacro %}
